.shop-container {
    display: grid;
    grid-template-columns: 4fr 1fr;    
}

.product-container {
    margin: 120px 50px 0 100px;
}

.product-container > h1 {
    text-align: center;
    margin: 0;
}

.cart-container {
    background-color: #FFE0B3;
    color: #1C2B35;
    padding: 0 18px;
    height: 100vh;
    position: sticky;
    top: 0;
    padding-bottom: 14px;
}
.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
}

.review-link-btn {
    text-decoration: none;
}